.vscode/
.vs/

/*.user
src/**/*.user

bin/
obj/
lib/

#Generated
/src/GitPackage/build/Gitpackage.props

/src/GitPackage.Tests/TestData.generated.props

#Test data
/src/GitPackage.Tests/TestData/OtherTestProject/**/*
!/src/GitPackage.Tests/TestData/OtherTestProject/OtherTestProject.csproj
/src/GitPackage.Tests/App_Data/