.vscode/
.vs/

/*.user
src/**/*.user

bin/
obj/
lib/

#Generated
/src/GitPackage.Tests/TestData.generated.props


/src/GitPackage.Tests/TestData/BasicProject/**/*
!/src/GitPackage.Tests/TestData/BasicProject/BasicProject.csproj
!/src/GitPackage.Tests/TestData/BasicProject/NuGet.config