@{
  var title = ViewBag.Title ?? "GitPackage Demo";
}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@title</title>
  
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  @await RenderSectionAsync("styles", false)
  @await RenderSectionAsync("scripts", false)
</head>
<body>
  @RenderBody()
  @await RenderSectionAsync("body-end", false)
</body>
</html>
