@page
<header>
  <h1>GitPackage demo project</h1>
</header>

<p>
  A sample project showing usage of git package's
</p>
<p>
  The demo uses the git package wiki as a source for content. The wiki is included as a git package.
</p>
<p>
    <a href="https://github.com/Dkowald/GitPackage/wiki" target="live">Live</a>
</p>
<vc:wiki-pages/>